*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000000;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 14px;
    overflow-x: hidden;
}

.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    min-width: 320px; 
    overflow-x: hidden; 
}
h1{
    font-size: 64px;
}
h2 {
    font-size: 48px;
}

h3 {
    font-size: 18px;
}
.mobile-menu {
    display: none;
}

.menu-button {
    display: none;
}
.header {
    padding-top: 40px;
    padding-bottom: 95px;
    background-color: rgba(217, 217, 217, 0.1);
}

    .header > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.graficlogo {
    max-width: 100%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

    .topnav a {
        color: #ffffff;
        padding: 14px 8px;
        font-size: 15px;
    }

        .topnav a:hover {
            border-bottom: 2px solid rgb(255, 255, 255);
        }

        .topnav a.icon {
            display: none;
        }

.hero {
    padding-top: 133px;
    padding-bottom: 245px;
    background-image: linear-gradient( to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1) ), url("./images/main_photo.png");
    background-repeat: no-repeat;
    background-position: right;
}

.hero-title {
    max-width: 640px;
    width: 100%;
    font-size: 64px;
    margin-bottom: 60px;
}

button {
    display: inline-block;
    padding: 16px 50px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #000000;
    background-color: #faff00;
    border: none;
    border-radius: 30px;
}

    button:hover {
        background-color: #4b4c15;
    }

    button:active {
        background-color: #faff00;
        transform: translateY(4px);
    }

.reasons {
    padding-top: 180px;
    padding-bottom: 250px;
}

.advantages {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 86px 117px;
}

.advantages_item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-us {
    padding-bottom: 250px;
}

    .about-us > .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 118px;
    }

.about-us-text {
    margin-top: 65px;
}

    .about-us-text p {
        margin-bottom: 16px;
        line-height: 161%;
    }

.about-us img {
    width: 570px;
    height: 454px;
}
.footer {
    padding-bottom: 80px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_item {
    width: 276px;
    padding: 112px 30px;
}

    .footer_item > img {
        margin-bottom: 26px;
    }

.footer-title {
    margin-bottom: 30px;
}

.social {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
}

    .social a {
        padding: 10px;
    }

        .social a:hover {
            background-color: #201c1c;
            border-radius: 50%;
        }


.mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #111;
    width: 100%;
    padding: 15px;
    z-index: 1;
}

    .mobile-menu a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }

        .mobile-menu a:hover {
            background-color: #444;
        }

        

@media screen and (max-width: 1000px) {
    .mobile-menu {
        display: block;
    }
    h2 {
        font-size: 48px;
    }
    .reasons {
        padding-top: 160px;
        padding-bottom: 200px;
    }
    .about-us img {
        width: 403px;
        height: 305px;
    }
    .footer_item {
        width: 275px;
        padding: 25px 30px;
    }
}

@media screen and (max-width: 744px) {
    .mobile-menu {
        display: block;
    }
    
    h2 {
        font-size: 48px;
    }
    .reasons {
        padding-top: 140px;
        padding-bottom: 180px;
    }
    .advantages {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
    }
    .advantages_item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 30px;
    }
    .about-us {
        padding-bottom: 180px;
    }
    
        .about-us > .container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 118px;
            
        }
    .about-us-text {
            margin-top: 90px;
            text-align: center;
        }
        
            .about-us-text p {
                margin-bottom: 16px;
                line-height: 161%;
    }
    .about-us img {
        width: 403px;
        height: 305px;
    }
    .about-us-info{
        text-align: center;
    }
    .footer_item {
        width: 275px;
        padding: 25px 30px;
    }
}

@media screen and (max-width: 393px) {
    .mobile-menu {
        display: block;
    }
    h1{
        font-size: 40px;
        text-align: center;
    }
    h2{
        font-size: 28px;
        text-align: center;
    }
    .reasons {
        padding-bottom: 200px;
    }
    .advantages {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }
    .advantages_item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px;
    }
    .about-us img {
        width: 388px;
        height: 211px;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ccc;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 1s ease-in-out;
    }
      
    .mobile-menu.active {
        transform: translateX(0);
    }
      
    .menu-button {
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
      
    .menu-icon {
        width: 20px;
        height: 20px;
        stroke: #000;
    }
      
    .close-button {
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .no-scroll {
        overflow: hidden;
    }

}
